<!DOCTYPE html>
<html lang="en">
  <head>
    <% let meta = { title: '', page: 'home'}; %> <%- include('./include/_head',{ head: meta }); %>
  </head>
  <body>
    <div class="wrapper">
      <!-- INCLUDE__HEADER -->
      <% let page = { pages: 'home'}; %> <%- include('./include/_header', { header: page }); %>

      <main class="l-main">
        <div class="l-main__frame">
          <!-- BLOG-->
          <section class="c-section homeBlog">
            <a class="c-btn c-btn-01" href="">
              <div class="c-btn-01__box">
                <div class="c-btn-01__inner"></div>
              </div>
              <span class="c-btn-01__text"><span class="homeBlog__date">22.01.01</span>今年からReactを学んでいく話</span>
            </a>
          </section>
          <!-- CATEGORY_SECTION -->
          <section class="c-section c-category"><%- include('./include/_category'); %></section>
          <!-- RECOMMEND_SECTION -->
          <section class="c-section c-recommend"><%- include('./include/_recommend'); %></section>

          <!-- TAG_SECTION -->
          <section class="c-section c-tag"><%- include('./include/_tag'); %></section>
          <!-- EXPLANATION_SECTION -->
          <section class="c-section c-explanation"><%- include('./include/_explanation'); %></section>
        </div>
      </main>
      <!-- INCLUDE__FOOTMENU -->
      <%- include('./include/_footMenu'); %>
      <!-- INCLUDE__FOOTER -->
      <%- include('./include/_footer'); %>
      <!-- INCLUDE__FOOT -->
      <%- include('./include/_foot'); %>
    </div>
  </body>
</html>
